.search-field {
  border: 0;
  height: 30px;
  width: 500px;
  margin: 5px 0;
}

.search-btn {
  height: 32px;
}

.signup-btn {
  margin-right: 5px;
  border: 0;
}

.nav-fixed {
  top: 0;
  left: 0;
  z-index: 10;
}

.nav-secondary {
  padding: 40px;
}
