@import "all";

main {
  font-family: HelveticaBold, sans-serif;
  color: $darkGray;
}

header {
  font-family: GothamBold, sans-serif;
  color: $darkGray;
}

footer {
  font-family: GothamRounded, sans-serif;
  color: $darkGray;
  font-weight: 700;
}

main a:hover {
  text-decoration: underline;
  text-decoration-color: inherit;
}

nav {
  font-family: GothamBold, sans-serif;
  color: $darkGray;
}

.strike {
  text-decoration: line-through;
}

.postadd-btn {
  height: 30px;
}

.slides {
  display: flex;
  overflow-x: scroll;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

.slide {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 100%;
  top: -250px;
}

.slider-circle {
  width: 5px;
  height: 5px;
  background-color: $gray;
  border-radius: 50%;
}

.slider-circle:hover {
  background-color: $pink;
}
