@import "variables";
@import "utilities";
@import "positioning";
@import "icon";

@font-face {
    font-family: HelveticaLight;
    src: url("Fonts/Helvetica_Neue_LT_45_Light.ttf");
}

@font-face {
    font-family: GothamBold;
    src: url("Fonts/HomepageBaukasten-Bold.otf");
}

.logo {
    font-family: GothamBold;
}

.font-size-large {
    font-size: 25px;
}

.search-field {
    border: 0;
    height: 30px;
    width: 500px;
    margin: 5px 0;
    z-index: 1;
}

.search-btn {
    height: 32px;
}

.signup-btn{
    margin-right: 5px;
    border:0;
}

.nav-fixed {
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-secondary {
    padding: 40px;
}

.abs-pos {
    top: -20px;
}

.main-body {
    z-index:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.offer {
    padding-top: 50px;

    @media (min-width: 768px)
    {
        padding-top: 20px;
    }
}

.bold {
    font-weight: bold;
}

.offer-img {
    width: 100%;
    height: auto;
    @media (min-width: 768px){
        width: 40%;
    }
}

.offer-body{
    margin-left: 0;
    @media (min-width: 768px)
    {
        margin-left: 10px;
    }
}

.cart-btn{
    height: 40px;
    border: 2px solid $darkPink;
    border-radius: 4px;
}

.card{
    border: 1px solid $lightGray;
    width: calc(50% - 10px);
    margin:10px 0;
    flex-wrap: wrap;
    @media (min-width:768px){
        width: calc(20% - 10px);
    }
}

.test{
    flex-wrap: wrap;
}

.card-img{
    width: 100%;
    height: 100%;
}

.card-body{
    margin-top: 50%;
}

.plus-icon{
    width: 25px;
    height: 25px;
    padding: 3px 5px;
    border: 1px solid black;
    color: $gray;

    &:hover {
        color: $pink;
        background-color: $darkGray;
    }
}

.dropdown {
    box-shadow: 1px 1px 2px 2px $lightGray;
    width: 100px;
    display: none;
    z-index: 1;
    top: -340%;
    left: -100%;
}

.plus-icon:hover .dropdown{
    display: block;
}

.dropdown-link{
    padding: 5px;
}

.dropdown-link:hover{
    background-color: $darkGray;
}

.section-header {
    margin-bottom: 10px;
    padding: 10px 0;
    border-bottom: 1px solid $lightGray;
}

.info{
    width: 100%;
    @media (min-width: 768px)
    {
        width: 40%;
    }
}

.categories{
    width: 100%;
    margin-top: 20px;
    @media (min-width: 768px)
    {
        margin-top: 0;
        width: 40%;
    }
}

.categories-header{
    padding-bottom: 10px;
    border-bottom: 1px solid $pink;
}

.footer {
    border-top: 1px solid $lightGray;
    padding: 20px 0;
    flex-direction: column;
    @media (min-width: 768px)
    {
        flex-direction: row;
    }
}

.list {
    width: 200px;
}

.form {
    width: 100%;
    @media (min-width: 768px)
    {
        width: 30%;
        border-right: 1px solid $lightGray;
    }
}

.form form {
    padding: 20px;
}

.search-results{
    width: 100%;
    @media (min-width: 768px)
    {
        width: 70%;
    }
}

.form-cat{
    border-bottom: 1px solid $pink;
}

.search-results-header {
    padding: 10px;
    border-bottom: 1px solid $lightGray;
}

.s-result{
    padding-top: 20px;
    padding-bottom: 20px;
    min-height: 20vh;
    border-bottom: 1px solid $lightGray;
}

.img-container{
    width: 100px;
    height: 100px;
    min-width: 100px;
    max-height: 150px;
    @media (min-width:768px){
        width: 100%;
        height: auto;
    }
}

.sticky {
    position: sticky;
    top:60px;
}