@import "variables";
@import "utilities";
@import "positioning";
@import "icon";

@font-face {
    font-family: HelveticaLight;
    src: url("Fonts/Helvetica_Neue_LT_45_Light.ttf");
}

@font-face {
    font-family: GothamBold;
    src: url("Fonts/HomepageBaukasten-Bold.otf");
}

.logo {
    font-family: GothamBold;
}

.font-size-large {
    font-size: 25px;
}

.search-field {
    border: 0;
    height: 30px;
    width: 500px;
    margin: 5px 0;
    z-index: 1;
}

.search-btn {
    height: 32px;
}

.signup-btn{
    margin-right: 5px;
    border:0;
}

.nav-fixed {
    top: 0;
    left: 0;
    z-index: 10;
}

.nav-secondary {
    padding: 40px;
}

.abs-pos {
    top: -20px;
}

.main-body {
    z-index:1;
}

.container {
    max-width: 1000px;
    margin: 0 auto;
}

.offer {
    padding-top: 50px;

    @media (min-width: 768px)
    {
        padding-top: 20px;
    }
}

.bold {
    font-weight: bold;
}

.offer-img {
    width: 100%;
    height: auto;
    @media (min-width: 768px){
        width: 40%;
    }
}

.offer-body{
    margin-left: 0;
    @media (min-width: 768px)
    {
        margin-left: 10px;
    }
}

.cart-btn{
    height: 40px;
    border: 2px solid $darkPink;
    border-radius: 4px;
}

.card{
    border: 1px solid rgb(170, 170, 170);
    width: calc(50% - 10px);
    margin:10px 0;
    flex-wrap: wrap;
    @media (min-width:768px){
        width: calc(20% - 10px);
    }
}

.test{
    flex-wrap: wrap;
}

.card-img{
    width: 80%;
    height: auto;
}

.plus-icon{
    width: 25px;
    height: 25px;
    padding: 3px 5px;
    border: 1px solid black;
    color: $gray;

    &:hover {
        color: $pink;
        background-color: $darkGray;
    }
}

.dropdown {
    box-shadow: 1px 1px 2px 2px rgb(180, 180, 180);
    width: 100px;
    display: none;
    z-index: 1;
    top: -350%;
    left: -100%;
}

.plus-icon:hover .dropdown{
    display: block;
}

.dropdown-link{
    padding: 5px;
}

.dropdown-link:hover{
    background-color: $darkGray;
}